@import './styles/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.box {
  background-color: $dark-grey;
	box-shadow: 1px 1px 13px rgba(black,0.15);
	margin-bottom: $small-spacing;
	padding: $standard-spacing;
}
